# Hyperledger Fabric samples
fabric-samples

# Network artifacts and certificates
network-files/artifacts
network-files/crypto-config

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
